
h1 login
h1 test
h2 test jade module4

.popup(onclick='myFunction()')
  | Click me!
  span#myPopup.popuptext Popup text...
  script.
    // When the user clicks on <div>, open the popup
    function myFunction() {
    var popup = document.getElementById('myPopup');
    popup.classList.toggle('show');
    }

h1 test222222
